/*body { text-align: left; margin: 0; }*/

.active { background-color: #ffc; }

.mousey {
   position: absolute;
   z-index: 2000;
}

.anX {
   position: absolute;
   z-index: 1999;
   font-size: 20px;
   font-weight: bold;
   text-shadow: 1px 1px white, -1px -1px #444;
}

#container {
   margin: 50px;
}

#contentbox {
  position: relative;
  height: 500px;
}

#box1 {
   position: absolute;
   left: 75px;
   top: 250px;
   width: 50px;
   height: 100px;
   background-color: blue;
}

#box2 {
   position: absolute;
   left: 200px;
   top: 100px;
   width: 75px;
   height: 75px;
   background-color: gray;
}

#contentbox textarea {
   position: absolute;
   left: 250px;
   top: 250px;
   width: 150px;
   height: 150px;
}

.myAccount {
   color: green;
}

.active.user-white  a.monitor i, .anX.user-white  { color: white; }
.active.user-yellow a.monitor i, .anX.user-yellow { color: yellow; }
.active.user-orange a.monitor i, .anX.user-orange { color: orange; }
.active.user-red    a.monitor i, .anX.user-red    { color: red; }
.active.user-blue   a.monitor i, .anX.user-blue   { color: blue; }
.active.user-green  a.monitor i, .anX.user-green  { color: green; }
.active.user-gray   a.monitor i, .anX.user-gray   { color: gray; }
.active.user-black  a.monitor i, .anX.user-black  { color: black; }
.active.user-purple a.monitor i, .anX.user-purple { color: purple; }

.user a.record { display: none; }
.active.user a.record { display: inline-block; }

/**/
/*.user a.monitor i {*/
   /*visibility: hidden;*/
/*}*/

.btn {
   margin-left: 10px;
}

.btn i {
   margin-right: 5px;
}

.user .label {
   margin: 0 10px;
}

#statusbox h2 {
   margin-top: .25em;
   font-size: 1em;
}

#statusbox ul {
   list-style-type: none;
   margin-left: 10px;
}

#statusbox ul li {
   line-height: 30px;
}