body { text-align: left; margin: 0; }
.active { background-color: #ffc; }

#mousey { display: none; }

.mousey {
   position: absolute;
   z-index: 2000;
}

.anX {
   position: absolute;
   z-index: 1999;
   font-size: 20px;
   font-weight: bold;
   color: red;
}

.presenceDiv {
   text-align: left;
}

#container {
   position: relative;
   margin: 50px;
   width: 600px;
   height: 600px;
   border: 1px solid gray;
}

#box1 {
   position: absolute;
   left: 250px;
   top: 250px;
   width: 50px;
   height: 100px;
   background-color: blue;
}

#box2 {
   position: absolute;
   left: 500px;
   top: 200px;
   width: 75px;
   height: 75px;
   background-color: gray;
}
